/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
/.idea
/.vscode

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# backup files
*.bkp

# cache files
*~*

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
